nav {
  background-color: #131212;
  padding: 1rem;
  width: 100vw; 
  max-width: 100%; 
  margin: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative; 
}

.nav-brand {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav ul li a:hover {
  text-decoration: underline;
}